{% extends 'base.html' %}

{% block title %}
Administrar la lista de empleados
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista de empleados</h1>
        <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
            <div class="cell large-7">
                <input type="text" id="Kword" name="Kword" placeholder="buscar empleado">
            </div>
            <div class="cell large-5">
                <button type="submit" class="sucess button">buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">Id</th>
                        <th>Nombres</th>
                        <th width="150">Apellidos</th>
                        <th width="150">Departamento</th>
                        <th width="150">Accion</th>
                        <th width="150">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for e in object_list  %}
                        
                        
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td>
                            <a class="button success" href="{% url 'persona_app:modificar' e.id %}">editar</a>

                        </td>
                        <td>
                            <a class="button alert" href="{% url 'persona_app:eliminar' e.id %}">Eliminar</a>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="cell">
            
            {% if is_paginated %}
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="pagination-previous">
                             
                            <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                        </li>
                        {% endif %}
                        
                        
                        {% for pagina in paginator.page_range  %}
                        
                        {% ifequal pagina page_obj.number  %} 
                        <li class="current"><span class="show-for-sr">You're on page</span> {{pagina}}</li>
                        {% else %}
                        
                        <li><a href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a></li>
                        {% endifequal %}
                            
                        
                        {% endfor %}
                        
                        {% if page_obj.hast_next %}
                            
                            
                        <li class="pagination-next">
                            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>

                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
                
      
        </div>
    </div>


</div>

{% endblock content %}
