{% extends 'base.html' %}

{% load static %}
{% block title %}
Pagina de inicio sistemas de empleados
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{% static 'img/img1.jpeg' %}" alt="Space">
                    <figcaption class="orbit-caption">En pareja</figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{% static 'img/img2.jpeg' %}" alt="Space">
                    <figcaption class="orbit-caption">Con mi moti</figcaption>
                </figure>
            </li>

        </ul>
    </div>

</div>






<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 40px; text-align: center;">Bienvenido al sistema de Registros</h1>
    <div class="cell large-7">
        <div class="callout warning">
            <h5>Registtr a los empleados</h5>
            <p>It</p>
            <a href="#">It</a>
          </div>
    </div>
</div>
{% endblock content %}